<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="Data Driven Framework" verbose="1">
	<test name="UsingDataProviders">
		<classes>
			<class name="testCases.UsingDataProviders" />
		</classes>
	</test>
	<test name="UsingExcel">
		<classes>
			<class name="testCases.UsingExcel" />
		</classes>
	</test>
</suite>
